body.opr-texiao-shake {
    animation: page_shake 2s ease 0s 1;
    -webkit-animation: page_shake 2s ease 0s 1;
}
section:not(:last-child) {
    margin-bottom: 50px;
}

section .content > img {
    float: left;
    margin-right: 30px;
}

.button-wrapper{
    position: fixed;
    right: 0;
    top: 0;
}